<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VueJs Game</title>

    <link rel="stylesheet" href="assets/lib/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="https://bootswatch.com/superhero/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">

    <script src="assets/lib/vue/dist/vue.js" charset="utf-8"></script>
</head>
<body>
    <div id="app">
        <div class="container">

            <section class="row text-center">
                <div class="col-xs-12">
                    <h1>VueJs Game</h1>
                    <p>A simple player vs monster game</p>
                </div>
            </section>

            <section class="row">
                <div class="col-xs-6 text-center">
                    <h2>You</h2>
                    <div class="progress">
                        <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" :aria-valuenow="playerHealth" aria-valuemin="0" aria-valuemax="100" :style="{width: playerHealth + '%'}">
                            {{ playerHealth }}%
                        </div>
                    </div>
                </div>

                <div class="col-xs-6 text-center">
                    <h2>Monster</h2>
                    <div class="progress">
                        <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" :aria-valuenow="monsterHealth" aria-valuemin="0" aria-valuemax="100" :style="{width: monsterHealth + '%'}">
                            {{ monsterHealth }}%
                        </div>
                    </div>
                </div>
            </section>

            <section class="row controls text-center" v-if="!gameIsRunning">
                <div class="col-xs-12">
                    <button class="btn btn-primary" @click="startGame">Start New Game</button>
                </div>
            </section>

            <section class="row controls text-center" v-else>
                <div class="col-xs-12">
                    <button class="btn btn-info" @click="attack">Attack</button>
                    <button class="btn btn-warning" @click="specialAttack">Special Attack</button>
                    <button class="btn btn-success" @click="heal">Heal</button>
                    <button class="btn btn-danger" @click="giveUp">Give Up</button>
                </div>
            </section>

            <section class="row text-center" v-if="turns.length > 0">
                <div class="col-xs-12">
                    <ul class="log">
                        <li v-for="turn in turns">
                            <div class="alert alert-success" role="alert">{{ turn.text }}</div>
                        </li>
                    </ul>
                </div>
            </section>

            <footer id="footer" class="text-center">
                by <a href="https://twitter.com">mojoblanco</a>
            </footer>

        </div>
    </div>

    <script src="assets/lib/jquery/dist/jquery.js" charset="utf-8"></script>
    <script src="assets/lib/bootstrap/dist/js/bootstrap.js" charset="utf-8"></script>
    <script src="assets/js/app.js" charset="utf-8"></script>
</body>
</html>
